.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #20263b;
  padding: 20px 10px;
  width: 100%;
  margin-top: 100px;
}

.footer-header {
  display: flex;
  width: fit-content;
  margin: auto;
  justify-content: center;
  background-color: #254e9e;
  font-size: 36px;
  font-weight: 500;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 50px;
  color: #fff;
}

.footer-header-shades {
  display: flex;
  width: fit-content;
  margin: auto;
  justify-content: center;
  font-size: 36px;
  font-weight: 500;
  transform: translateY(-50%);
  border-radius: 50px;
  color: #fff;
}

.footer-body {
  display: flex;
  max-width: 1100px;
  justify-content: start;
  align-items: center;
  margin: auto;
}
.about-wisdora {
  color: #8f929d;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 0.9rem;
  width: 30%;
  margin-right: 10%;
}

.wisdora-address {
  color: #fff;
  width: 40%;
  padding: 20px 20px;
}

.wisdora-address a {
  color: #fff;
  text-decoration: none;
}

.divider {
  margin-top: 40px;
  border: none;
  border-top: 1px solid #737373;
}

.footer-bottom {
  margin: auto;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

.footer-left {
  color: #777;
}

.footer-right {
  display: flex;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #555;
  margin-right: 10px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.social-icon:hover {
  background-color: #007bff;
  color: #fff;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 30px;
  width: 300px;
}

.tick-icon {
  margin-right: 10px;
}

.tick-icon i {
  color: #fff;
  font-size: 24px;
}

.content {
  text-align: left;
  padding: 20px;
}

.heading {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.subheading {
  color: #fff;
  font-style: italic;
  font-size: 16px;
}

.card:nth-child(1) {
  background-color: #0177ff;
}

.card:nth-child(2) {
  background-color: #016ce8;
}

.card:nth-child(3) {
  background-color: #0061cf;
}

.card:nth-child(4) {
  background-color: #024fa8;
}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (max-width: 1024px) {
  

  .card {
    width: auto;
    padding: 10px 2px;
  }



}    

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 50px;
    padding: 10px;
  }

  .footer-header {
    font-size: 20px;
    padding: 10px;
  }

  .footer-header-shades {
    font-size: 20px;
    padding: 0;
  }

  .footer-body {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-wisdora {
    width: 100%;
    margin-right: 0;
  }

  .wisdora-address {
    width: 100%;
    padding: 10px;
  }

  .card {
    width: auto;
    padding: 10px 2px;
  }

  .tick-icon {
    margin-right: 0;
    margin-bottom: 0;
  }

  .tick-icon i {
    color: #fff;
    font-size: 16px;
  }

  .content {
    padding: 5px;
  }

  .heading {
    font-size: 14px;
  }

  .subheading {
    font-size: 14px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .footer-left,
  .footer-right {
    margin-bottom: 10px;
  }
}
/* SMARTPHONES PORTRAIT */
/* @media only screen and (min-width: 300px) {


} */

/* SMARTPHONES LANDSCAPE */
/* @media only screen and (min-width: 480px) {


} */

/* TABLETS PORTRAIT */
/* @media only screen and (min-width: 768px) {


} */


