.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #20263b;
  padding: 20px 10px;
  width: 100%;
  margin-top: 100px;
}

.footer-header {
  display: flex;
  width: fit-content;
  margin: auto;
  justify-content: center;
  background-color: #254e9e;
  font-size: 36px;
  font-weight: 500;
  transform: translateY(-50%);
  padding: 20px;
  border-radius: 50px;
  color: #fff;
}
.footer-body {
  display: flex;
  max-width: 1100px;
  justify-content: start;
  align-items: center;
  margin: auto;
}
.about-wisdora {
  color: #8f929d;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 0.9rem;
  width: 30%;
  margin-right: 10%;
}

.wisdora-address {
  color: #fff;
  width: 40%;
  padding: 20px 20px;
}

.wisdora-address a {
  color: #fff;
  text-decoration: none;
}

.divider {
  margin-top: 40px;
  border: none;
  border-top: 1px solid #737373;
}

.footer-bottom {
  margin: auto;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

.footer-left {
  color: #777;
}

.footer-right {
  display: flex;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #555;
  margin-right: 10px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.social-icon:hover {
  background-color: #007bff;
  color: #fff;
}
