*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  max-width: 1275px;
  
}

section{
  padding: 4%;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;

}

code {
  font-family: 'Montserrat', sans-serif;
}

/* .rootscreen{
  display: flex;
  flex-direction: column;
  width: 100%;
} */